figure.promo {
	margin: 0;
	padding: 0;
	position: relative;
}

figure.promo figcaption {
	background: teal;
	color: white;
	font-weight: 700;
	padding: 3px 10px;
}

figure.promo img {
	margin: 0 auto;
}

figure.promo div.descTxt1 {
	top: 40%;
	width: 30%;
	left:10%;
	position: absolute;
}

figure.promo div.descTxt2 {
	top: 40%;
	width: 30%;
	left:60%;
	position: absolute;
}

figure.promo div.anchorColor {
	color: teal;
}