.swiper-partial {
	width: 640px;
	height: 250px;
	color: #fff;
}
.swiper-partial .swiper-slide {
	height: 250px;
	width: 300px;
	text-align: center;
	line-height: 250px;
	font-size: 40px;
}
.green-slide {
	background: #49a430;
}
.blue-slide {
	background: #4390ee;
}
.pink-slide {
	background: pink;
}
.yellow-slide {
	background: yellow;
}
.purple-slide {
	background: #973e76;
}
.lime-slide {
	background: lime;
}

