/* global */
body {
	
}



/*  map.html */
body.map {

}
body.map  #map-canvas{
	height: 400px;	
}

.map .place-list li{
	display: inline-block;
	padding: 3px 5px 7px;
	font-size: 75%;
}
.map .place-list li .city {
	font-weight: 700;
	text-transform: uppercase;
}
